* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-error {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}