.home-sec {
    background-image: url("https://images.unsplash.com/photo-1580813464570-f36c6aaa0859?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    background-size: cover;
}

.my-text {

    animation-name: anim;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes anim {
    from {
        opacity: 0;
        transform: translateX(-500px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}