nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: linear-gradient(to right, midnightblue, black); */
    background-color: rgb(0, 0, 0, 0.7);
    position: fixed;
    z-index: 1;
    animation-name: anim1;
    animation-duration: 1s;
    animation-timing-function: ease-out;

}

@keyframes anim1 {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}



.logo {
    color: rgb(120, 83, 255);
    font-size: 25px;
    font-weight: bolder;
    font-family: monospace;

}


.my-nav {
    list-style: none;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}


li {
    padding: 15px;
}

.my-link {
    color: white;
}