* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
}


.form-cont {
    width: 100%;
    height: 100vh;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    background: url("https://images.unsplash.com/photo-1663970206579-c157cba7edda?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGJhY2tncm91bmQlMjBpbWFnZSUyMHBjfGVufDB8fDB8fHww") center /cover no-repeat;
}